[Unit]
Description=twitter streaming daemon

[Service]
ExecStart=/usr/bin/python /root/panoptic/cdnpoli/cdnpoli_stream.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
